{% extends "homepage/base.html" %}

{% block title %}
    Trang Chủ
{% endblock %}

{% block content %}
    <!-- Banner -->
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Chào mừng đến với khách sạn của chúng tôi!</h1>
            <p class="lead">Chúng tôi mang đến cho bạn trải nghiệm tuyệt vời nhất.</p>
        </div>
    </div>

    <!-- Phòng nổi bật -->
    <div class="container mt-4">
        <h2>Phòng Nổi Bật</h2>
        <div class="row">
            {% for room in featured_rooms %}
                <div class="col-md-3">
                    <div class="card mb-4">
                        <a href="{% url 'homepage:room_detail' room.room_id %}">
                            {% if room.room_img %}
                                <img src="{{ room.room_img.url }}" class="card-img-top" alt="Phòng {{ room.room_code }}" height="190px">
                            {% else %}
                                <img src="/static/images/phong_don.jpg" class="card-img-top" alt="Không có hình ảnh cho phòng {{ room.room_code }}">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <a href="{% url 'homepage:room_detail' room.room_id %}" style="text-decoration: none; color: inherit;">
                                <h5 class="card-title">{{ room.get_type_display }} - {{ room.room_code }}</h5>
                            </a>
                            <p class="card-text">Lượt ở: {{ room.check_out_count }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <!-- Tất cả phòng -->
    <div class="container mt-4">
        <h2>Tất cả phòng</h2>
        {% if rooms %}
            <div class="row">
                {% for room in rooms %}
                    <div class="col-md-3">
                        <div class="card mb-4">
                            <a href="{% url 'homepage:room_detail' room.room_id %}">
                                {% if room.room_img %}
                                    <img src="{{ room.room_img.url }}" class="card-img-top" alt="Phòng {{ room.room_code }}" height="190px">
                                {% else %}
                                    <img src="/static/images/phong_don.jpg" class="card-img-top" alt="Không có hình ảnh cho phòng {{ room.room_code }}">
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <a href="{% url 'homepage:room_detail' room.room_id %}" style="text-decoration: none; color: inherit;">
                                    <h5 class="card-title">{{ room.get_type_display }} - {{ room.room_code }}</h5>
                                </a>
                                <p class="card-text">{{ room.description }}</p>
                                <a href="{% url 'homepage:room_detail' room.room_id %}">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% comment %} Phân Trang {% endcomment %}
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    {% if rooms.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ rooms.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">&laquo;</span>
                        </li>
                    {% endif %}
            
                    {% for num in rooms.paginator.page_range %}
                        <li class="page-item {% if num == rooms.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
            
                    {% if rooms.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ rooms.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">&raquo;</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>                      
            
        {% else %}
            <p>Hiện không có phòng nào.</p>
        {% endif %}
    </div>

{% endblock %}